@charset "UTF-8";

.studio {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 25%;
  @include bp(sm) {
    padding-top: 0;
  }
  h1 {
    font-size: 20vw;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 3%;
    @include bp(sm) {
      font-size: 6vw;
    }
  }
  p {
    font-size: 7vw;
    color: #Fff;
    padding-right: 20%;
    margin-bottom: 20px;
    font-weight: 300;
    &:last-child {
      margin-bottom: 0;
    }
    @include bp(sm) {
      font-size: 2.0vw;
    }
  }
}
